<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" \>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

      {% stylesheet application %}
      {% javascript application %}
  </head>

  <body>
    <div id="header">
      <div class="container">
        <div class="title">
          <a href="/">ZEBRA.IO</a>
        </div>

        <div class="top-nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/docs/install.html">Docs</a></li>
            <li><a href="/tutorial.html">Tutorial</a></li>
            <li><a href="https://github.com/ostinelli/zebra">Source</a></li>
          </ul>
        </div>
      </div>
    </div>
