<h4>Docs</h4>

<ul>
    <li{% if page.url == "/docs/install.html" %} class="active"{% endif %}><a href="/docs/install.html">Install</a></li>
    <li{% if page.url == "/docs/getting_started.html" %} class="active"{% endif %}><a href="/docs/getting_started.html">Getting Started</a></li>
    <li{% if page.url == "/docs/api_console.html" %} class="active"{% endif %}><a href="/docs/api_console.html">API Console</a></li>
    <li{% if page.url == "/docs/application_files.html" %} class="active"{% endif %}><a href="/docs/application_files.html">Application Files</a></li>
    <li{% if page.url == "/docs/api_versioning.html" %} class="active"{% endif %}><a href="/docs/api_versioning.html">API Versioning</a></li>
    <li{% if page.url == "/docs/routes.html" %} class="active"{% endif %}><a href="/docs/routes.html">Routes</a></li>
    <li{% if page.url == "/docs/errors.html" %} class="active"{% endif %}><a href="/docs/errors.html">Errors</a></li>
    <li{% if page.url == "/docs/controllers.html" %} class="active"{% endif %}><a href="/docs/controllers.html">Controllers</a></li>
    <li{% if page.url == "/docs/models.html" %} class="active"{% endif %}><a href="/docs/models.html">Models</a></li>
    <li{% if page.url == "/docs/migrations.html" %} class="active"{% endif %}><a href="/docs/migrations.html">Migrations</a></li>
    <li{% if page.url == "/docs/testing.html" %} class="active"{% endif %}><a href="/docs/testing.html">Testing</a></li>
    <li{% if page.url == "/docs/other.html" %} class="active"{% endif %}><a href="/docs/other.html">Other</a></li>
</ul>
