.docs-main {
  @include span-columns(8);
  @include pad(0 12px 0 0);
}

.docs-sidebar {
  @include span-columns(4);
  @include pad(32px 0 0);

  ul {
    list-style-type: none;
    margin: 12px 0 0;
    padding: 0;

    li {
      border-bottom: 1px solid #ececec;
      padding: 12px 0;

      a {
        color: $link_color;
        text-decoration: none;

        &:hover, &:focus {
          color: $link_hover;
        }
      }
    }
  }
}
