body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 16px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 24px 0 0;
  padding: 0;
}

h1, .h1 {
  font-size: 40px;
}

h2, .h2 {
  font-size: 35px;
}

h3, .h3 {
  font-size: 30px;
}

h4, .h4 {
  font-size: 25px;
}

h5, .h5 {
  font-size: 20px;
}

h6, .h6 {
  font-size: 16px;
}

a {
  color: $link_color;

  &:hover, &:focus {
    color: $link_hover;
  }
}
