{% include header.html %}

<div class="main docs">
  <div class="container">

    <div class="docs-main">
      {{ content }}
    </div>

    <div class="docs-sidebar">
      <h4>Docs</h4>

      <ul>
        <li><a href="/docs/install.html">Install</a></li>
        <li><a href="/docs/getting_started.html">Getting Started</a></li>
        <li><a href="/docs/api_console.html">API Console</a></li>
        <li><a href="/docs/application_files.html">Application Files</a></li>
        <li><a href="/docs/api_versioning.html">API Versioning</a></li>
        <li><a href="/docs/routes.html">Routes</a></li>
        <li><a href="/docs/errors.html">Errors</a></li>
        <li><a href="/docs/controllers.html">Controllers</a></li>
      </ul>
    </div>
  </div>
</div>

{% include footer.html %}
